html {
  --color-text: #e3e3ee;
  --color-text-dark: #555;
  --color-background-bright: #455d7a;
  --color-background-dark: #233142;
  --color-background-hover: #6CA0DC;
  --color-champions-league: #00ff00;
  --color-europa-league: #00ffff;
  --color-relegation: #f00000;
  --color-draw: #C0C0C0;
  --border-radius: 10px;
  --box-shadow: 0 0 20px rgba(0, 0, 0, 15);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
