.top-leagues {
    width: 250px;
    height: 50px;
    background-color: var(--color-background-bright);
    border-radius: var(--border-radius);
    color: var(--color-text);
}

.title {
    font-weight: bold;
    font-size: x-large;
    margin-left: 10px;

}

.title-row {
    height: 15px;
}

.league-row {
    cursor: pointer;
    height: 50px;
}

.league-row:hover {
    background-color: var(--color-background-hover);
}

.logo {
    height: 35px;
}

.logo-wrap {
    width: 25px;
}

.league-name {
    font-size: medium;
}