.upcoming-fixtures {
    width: 900px;
    border-radius: var(--border-radius);
    border-collapse: collapse;
    box-shadow: var(--box-shadow);
}   

.upcoming-fixtures, th, tr {
    text-align: left;
    font-weight: bold;
}

.upcoming-fixtures, th, .upcoming-fixtures, td {
    padding: 12px 15px;
}

.date {
    background-color: var(--color-background-dark);
    /* border-radius: var(--border-radius); */
}

.stadium {
    font-size: smaller;
    padding-top: 6px;
}

.team-row {
    width: 50%;
    float: right;
}

.fixture {
    cursor: pointer;
}

.fixture:hover {
    background-color: var(--color-background-hover);
}