.upcoming-fixtures {
    border-radius: var(--border-radius);
    border-collapse: collapse;
    box-shadow: var(--box-shadow);
    width: 100%;
}   

.upcoming-fixtures, th, tr {
    text-align: left;
    font-weight: bold;
}

.fixture-wrap {
    width: 900px;
}

.date {
    background-color: var(--color-background-dark);
    height: 40px;
}

.stadium {
    font-size: smaller;
    padding-top: 6px;
}

.team-row {
    width: 50%;
    float: right;
}

.fixture {
    cursor: pointer;
}

.fixture:hover {
    background-color: var(--color-background-hover);
}