.headline-wrap {
    position: relative;
    height: var(--head-height);
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.headline-wrap .league-name {
    font-size: larger;
    font-weight: bold;
}

.headline-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.headline-wrap .country {
    font-size: large;
}

.headline-league {
    margin-top: 15px;
}

.headline-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.item {
    cursor: pointer;
    height: 40px;
    font-weight: bold;

}

.item:hover {
    opacity: 0.7;
}

#overview {
    margin-left: 15px;
}

.season-years {
    height: 25px;
    background-color: azure;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
}