.headline-wrap {
    height: 150px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}

.headline-wrap .league-name {
    font-size: larger;
    font-weight: bold;
}

.headline-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.headline-wrap .country {
    font-size: large;
}

.headline-league {
    margin-top: 15px;
}