.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    width: 100px;
    background-color: blue;
    text-align: center;
    cursor: pointer;
    color: #e3e3e3;
    
}

.dropdown-menu {
    max-height: 100px;
    overflow-y: auto;
}

.dropdown-menu::-webkit-scrollbar {
    display: none;
}

.dropdown-item {
    display: flex;
    flex-direction: row;
    background: blue;
    width: 100px;
    margin-top: 4px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.dropdown-item:visited {
    color: #e3e3e3;
}