.scoreboard-wrap {
    width:800px;
    /* height: 600px; */
    background: #455d7a; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, 50%); */
    
}

.sb-positions, .rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sb-positions {
    height: 40px;
    align-items: center;
}