.scoreboard-wrap {
    color: var(--color-text);
    min-width:800px;
    border-radius: 10px;
    border-collapse: collapse;
    font-size: 0.9em;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 15);
}

.scoreboard-wrap, th, tr {
    text-align: left;
    background: var( --color-background-bright); 
    font-weight: bold;
}

.sb-positions {
    height: 40px;
    border-bottom: 2px solid  #0C0404;
}

.sb-pos {
    width: 5px;
}