.championsLeauge {

    background-color: var(--color-champions-league);
}

.europaLeauge {
    background-color: var(--color-europa-league);

}

.relegation {
    background-color: var(--color-relegation);

}

.championsLeauge, .europaLeauge, .relegation {
    /* border-radius: 50%; */
    width: 2px;
    height: 25px;
    margin: 0;
    padding: 0;
}