.leagueGames {
    width: 300px;
    height: 130px;
    cursor: pointer;
    background: var(--color-background-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */

}

.leagueGames:hover {
    background-color: var(--color-background-hover);
}
.team-wrap {
    display: flex;
    flex-direction: row; 
    margin: 0;
    padding: 0;
    /* justify-content: space-around; */
    align-items: center;
    gap: 30px;
}

.home-team, .away-team  {
    display: flex;
    flex-direction: column;
    list-style: none;
}