.head-container {
    height: 48px;
    /* background-color: var(--color-background-bright); */
}

.fixtures {
    width: 600px;
    background-color: var(--color-background-bright);
    cursor: pointer;
    border-collapse: collapse;
}

.body-container {
    /* background-color: var(--color-background-bright); */
}

.game {
    height: 64px;
    position: relative;
}

.game:hover {
    background: var(--color-background-hover);
}