.matches {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.matches-wrap {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    height: 220px;
    padding: 10px;
    overflow-x: hidden;
}

.all-matches-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    color: var(--color-text);
}

.all-matches-btn:hover {
    text-decoration-line: underline;
}

.league-matches-scroll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}