.rows {

    cursor: pointer;
}

.rows:hover {
    background: var(--color-background-hover); 
    border-radius: 5px;
}

.row-form {
    width: 200px;
}

.row-logo {
    
    height: 25px;
}

.row-pos {
    width: 20px;
}