body {
    background: var(--color-background-dark); 
    color: var(--color-text);
    position: relative;

}

.league {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.league-details {
    background: var( --color-background-bright); 
    width: 400px;
    height: 90px;
    margin-bottom: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.upcoming-games {
    display: flex;
    justify-content: center;
    align-items: center;
}

.league-wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
}